.venv/
music_theory_documentation/__pycache__/
documentation/migrations/__pycache__/
documentation/__pycache__/
music_theory_docs/__pycache__/
Notes/
db.sqlite3
documentation_app/__pycache__/
documentation_app/source/__pycache__/
documentation_app/templatetags/__pycache__/
documentation_app/migrations/__pycache__/
bake_app/__pycache__/
