:root {
    --color-background: #f0f0f0;
    --color-card-background: aliceblue;
    --color-footer: #222;
    --color-header: #222;
    --color-sidebar: wheat;
    
    --border-card: solid 2px lightgray;

    --box-shadow-footer: 0 -2px 5px rgba(0,0,0,0.15);
    --box-shadow-header: 0 2px 5px rgba(0,0,0,0.15);
    --box-shadow-sidebar: 2px 0px 5px rgba(0,0,0,0.15);

    --debug-outline: 1px dashed darkcyan;
}