@import './constants.css';


body {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto; /* header, content, footer */
	grid-template-columns: 200px 1fr;  /* sidebar, main */
	grid-template-areas:
	  "header header"
	  "sidebar main"
	  "footer footer";
	height: 100vh;
  }


  
  /* Assign grid areas */
  .header {
	grid-area: header;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--color-header);
	color: white;
	padding: 1rem;
	box-shadow: var(--box-shadow-header);
	/* display: flex;
	align-items: center; horizontal centering */

  }
  
.header a {
    color: white;
    text-decoration: none;
    line-height: 1;
    font-size: 1.5rem;
	font-weight: bolder;
	padding-right: 2rem;
	align-items: center;
	margin: 0px;
	max-width: max-content;

	 
}

  .footer {
	grid-area: footer;
	position: sticky;
	bottom: 0;
	z-index: 1000;
	background-color: var(--color-footer);
	color: white;
	padding: 1rem;
	box-shadow: var(--box-shadow-footer);
	justify-content: center; /* horizontal centering */
  }
  
.header,
.footer {
  height: 1.5rem;
  display: flex;
  align-items: center;


}

.footer * {
	margin: 0;
  }

  .layout {
	display: contents; /* Let children inherit grid from body */
  }
  
  .sidebar {
	grid-area: sidebar;
	background: var(--color-sidebar);
	overflow-y: auto;
	padding: 1rem;
	box-shadow: var(--box-shadow-sidebar);
  }

.sidebar a {
	font-size: 1.5rem;
	/* font-weight: bolder; */

}


  .view-area {
	grid-area: main;
	overflow-y: auto;
	padding: 1rem;
  }





h2 {
	margin: 0.5rem 0rem;

}


.doc_card {
	border: var(--border-card);
	border-radius: 1rem;
	background-color: var(--color-card-background);
	margin-left: 2rem;
	padding: 1rem;
	width: fit-content;
}