:root {
    --color-a: #0969da;
    --color-backend-background: #f6f8fa;

    --color-header: #222;
    /* --color-sidebar: linear-gradient(170deg,rgba(245, 222, 179, 1) 0%, rgba(219, 175, 114, 1) 100%); */
    --color-sidebar: linear-gradient(180deg, #ffebc5 0%, #ECC06F 100%);
    --color-table-header: #bee3f1;
    --color-accordian-header-hover-color: #bee3f1;


    /* --color-sidebar: linear-gradient(170deg,rgba(42, 123, 155, 1) 0%, rgba(30, 84, 105, 1) 100%); */
    /* --color-sidebar-a: white; */
    /* --color-a: white; */



    --box-shadow-header: 0 2px 5px rgba(0,0,0,0.15);
    --box-shadow-sidebar: 2px 0px 5px rgba(0,0,0,0.15);

    --debug-outline: 1px dashed darkcyan;
}

/* CSS reset
   Sets a default for all elements in the CSS.
   This ignores browser defaults to ensure a consistent baseline across different browsers.
*/
* {
	/* margin: 0; */
	/* padding: 0; */
	font-family: system-ui, sans-serif;
}

.show-borders {
	outline: var(--debug-outline);
}

a {
	color: var(--color-a);
	display: block;
	text-decoration: none;
    max-width: max-content;
}

a:hover {
	text-decoration: underline;
} 