{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'CSS/github-markdown.css' %}">
	<title>{% block title %}Music Theory Docs{% endblock %}</title>
</head>

<body>
	<nav class="header">
		<a href="/documentation">Home</a>
		<a href="/documentation/examples">Examples</a>
		<a href="/documentation">Tools</a>
	</nav>

	<div class="layout">
		<aside class="sidebar">
			<a href="/documentation/notes">Notes</a>
			<a href="/documentation/scales">Scales</a> 
		</aside>

		<main class="view-area">
			{% block content %}
			<!-- Default content if needed -->
			{% endblock %}
		</main>
	</div>

	<footer class="footer">
		<p>Footer date or something here</p>
	</footer>
</body>

<script src="{% static 'debug.js' %}"></script>

</html>