{% extends "base.html" %}

{% block title %}Music Theory Docs - {{ module_name }}{% endblock %}

{% block content %}
    <h1>{{ module_name }}</h1>

    <div class="toc">
        {% if doc_structure.functions %}
            <h2>Functions</h2>
            <ul>
            {% for f in doc_structure.functions %}
                <li><a href="#{{ f.anchor }}">{{ f.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}


        {% if doc_structure.classes %}
            <h2>Classes</h2>
            <ul>
                {% for c in doc_structure.classes %}
                    <li>
                    <a href="#{{ c.anchor }}">{{ c.name }}</a>
                        <ul>
                            {% for m in c.methods %}
                            <li><a href="#{{ m.anchor }}">{{ m.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {% if doc_structure.functions %}
        {% for f in doc_structure.functions %}
            <{{ f.tag }} id="{{ f.anchor }}">{{ f.name }}</{{ f.tag }}>
            <pre>{{ f.docstring }}</pre>
        {% endfor %}
    {% endif %}


    {% if doc_structure.classes %}
        {% for c in doc_structure.classes %}
            <{{ c.tag }} id="{{ c.anchor }}">{{ c.name }}</{{ c.tag }}>
            <pre>{{ c.docstring }}</pre>

            <!-- methods -->
            {% if c.methods %}
                {% for m in c.methods %}
                    <{{ m.tag }} id="{{ m.anchor }}">{{c.name}}.{{ m.name }}</{{ m.tag }}>
                    <pre>{{ m.docstring }}</pre>
                {% endfor %}
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock %}