/* CSS to mimic bootstrap alerts */

.message {
	margin: 0.5rem 0rem;
	padding: 0rem 2rem;
	border-radius: 8px;
	border: 2px solid;
	font-weight: 500;
}

.message-info {
	background-color: #D1ECF1; 
	color: #0C5460;
	border-color: #BEE5EB;
}
 
.message-success {
	background-color: #D4EDDA; 
	color: #155724;
	border-color: #C3E6CB;
}
  
.message-warning {
	background-color: #FFF3CD;
	color: #956424;
	border-color: #FFEEBA;
}
  
.message-error {
	background-color: #F8D7DA; 
	color: #721C24;
	border-color: #F5C6CB;
}
  
.message-debug {
	background-color: #E2E3E5;
	color: #383D41;
	border-color: #D6D8DB;
}