{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

	{% if BAKE_MODE %}
		<link rel="stylesheet" href="{{ doc_root }}CSS/github-markdown.css">
		<link rel="stylesheet" href="{{ doc_root }}CSS/documentation-styles.css" />
	{% else %}
		<link rel="stylesheet" href="{% static 'CSS/github-markdown.css' %}">
		<link rel="stylesheet" href="{% static 'CSS/documentation-styles.css' %}" />
		<link rel="stylesheet" href="{% static 'CSS/messages.css' %}">
	{% endif %}

	<title>{% block title %}Music Theory Docs{% endblock %}</title>
</head>

<body>
	<nav class="header">
		{% if BAKE_MODE %}
			<a href="{{ doc_root }}index.html">Home</a>
			<a href="{{ doc_root }}documentation/examples.html">Examples</a>
			<a href="{{ doc_root }}documentation/mnemonics.html">Mnemonics</a>
		{% else %}
			<a href="/documentation">Home</a>
			<a href="/documentation/examples">Examples</a>
			<a href="/documentation/mnemonics">Mnemonics</a>
			<a href="/documentation/tools">Tools</a>
		{% endif %}					
	</nav>

	<div class="layout">
		<aside class="sidebar">
			<h2>Modules</h2>
			<ul>
				{% for module in available_modules %}
					{% if BAKE_MODE %}
						<li><a href="{{ doc_root }}documentation/{{ module }}.html">{{ module }}</a></li>
					{% else %}
						<li><a href="/documentation/{{ module }}">{{ module }}</a></li>
					{% endif %}					
				{% endfor %}
			</ul>
		</aside>

		<main class="view-area markdown-body">
			{% block content %}
				<!-- Default content if needed -->
			{% endblock %}
		</main>
	</div>
	
	{% if debug %}
    	<script src="{% static 'JS/debug.js' %}"></script>
	{% endif %}

</body>

</html>