{% extends "base.html" %}
{% load static %}

{% block title %}Music Theory Docs - Tools{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/pygments.css' %}">

<div class="markdown-body">
    <h1>Tools</h1>

    <ul>
        <li><a href="#chords-in-key-generator">Chords in key generator</a></li>
        <li><a href="#modes-from-note-generator">Modes from note generator</a></li>
        <li><a href="#note-finder">Note finder</a></li>
        <li><a href="#chord-progression-MIDI-generator">Chord progression MIDI generator</a></li>
    </ul>

    <!-- Tool 1 - Chords in key generator -->
    <h2 class="accordion-header" id="chords-in-key-generator">Chords in key generator</h2>
    <div class="accordion-panel">

        <div class="tool-input">
            <label>Note:</label>
            <select class="ajax-input" data-key="tool-one-note-input">
                {% for n in notes %}
                    <option value="{{ forloop.counter0 }}">{{ n }}</option>
                {% endfor %}                    
            </select> 
            <br>

            <label>Key Type:</label>
            <select class="ajax-input" data-key="tool-one-key-type-input">
                {% for kt in key_types %}
                    <option value="{{ forloop.counter0 }}">{{ kt }}</option>
                {% endfor %}             
            </select> 
            <br>

            <label>Show dominant keys?:</label>
            <select class="ajax-input" data-key="tool-one-dominant-input">
                <option value="true">True</option>
                <option value="false">False</option>
            </select> 
            <br>

            <label>Show parallel keys?:</label>
            <select class="ajax-input" data-key="tool-one-parallel-input">
                <option value="true">True</option>
                <option value="false">False</option>
            </select> 
            <br>
        </div>

        <br>
        <pre id="chords-in-key-generator-results">No results</pre>
    
    </div>

    <!-- Tool 2 - Modes from note generator -->
    <h2 class="accordion-header" id="modes-from-note-generator">Modes from note generator</h2>
    <div class="accordion-panel">   

        <div class="tool-input">
            <label>Note:</label>
            <select class="ajax-input" data-key="tool-two-note-input">
                {% for n in notes %}
                    <option value="{{ forloop.counter0 }}">{{ n }}</option>
                {% endfor %}                    
            </select> 
        </div>
        
        <br>
        <pre id="mode-generator-results">No results</pre>

    </div>

    <!-- Tool 3 - Note finder -->
    <h2 class="accordion-header" id="note-finder">Note Finder</h2>
    <div class="accordion-panel">   

        {% if messages %}
            {% for message in messages %}
                <div class="box message message-{{message.tags}}">
                    <pre><strong>{{ message.tags|capfirst }}</strong> - {{ message|safe }}</pre>
                </div>
            {% endfor %}
        {% endif %}
     
        <div class="tool-input">
            <table>
                <tr>
                    <th>String Tuning</th>
                    <th>Fret</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-one">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_one %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-one" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-one"></td>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-two">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_two %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-two" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-two"></td>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-three">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_three %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-three" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-three"></td>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-four">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_four %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-four" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-four"></td>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-five">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_five %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-five" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-five"></td>
                </tr>
                <tr>
                    <td>
                        <select class="ajax-input" data-key="tool-three-tuning-input-six">
                            {% for n in notes %}
                                <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_six %}selected{% endif %}>{{ n }}</option>
                            {% endfor %}   
                        </select>
                    </td>
                    <td><input class="ajax-input fret-input" data-key="tool-three-fret-input-six" value="0" type="text" maxlength="2" pattern="^([0-9]|[1-9][0-9]|x)$"/></td>
                    <td id="tool-three-result-six"></td>
                </tr>
            </table>
        </div>
    
    </div>

</div>

<script src="{% static 'JS/tools.js' %}"></script>

{% endblock %}