{% extends "base.html" %}
{% load static %}

{% block title %}Music Theory Docs - Tools{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/pygments.css' %}">

<div class="markdown-body">
    <h1>Tools</h1>

    <ul>
        <li><a href="#chords-in-key-generator">Chords in key generator</a></li>
        <li><a href="#modes-from-note-generator">Modes from note generator</a></li>
        <li><a href="#note-finder">Note finder</a></li>
        <li><a href="#chord-progression-MIDI-generator">Chord progression MIDI generator</a></li>
    </ul>
    
    <form method="get" action="{% url 'tools_view' %}" id="tools-form">

        <div class="tool">
            <h2 id="chords-in-key-generator">Chords in key generator</h2>

            <div class="tool-input">
                <label for="tool-one-note-input">Note:</label>
                <select name="tool-one-note-input" id="tool-one-note-input">
                    {% for n in notes %}
                        <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_one_note_input %}selected{% endif %}>{{ n }}</option>
                    {% endfor %}
                </select> 
                <br>

                <label for="tool-one-key-type-input">Key Type:</label>
                <select name="tool-one-key-type-input" id="tool-one-key-type-input">
                    {% for kt in key_types %}
                        <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_one_key_type_input %}selected{% endif %}>{{ kt }}</option>
                    {% endfor %}
                </select> 
                <br>

                <label for="tool-one-dominant-input">Show dominant keys?</label>
                <select name="tool-one-dominant-input" id="tool-one-dominant-input">
                    <option value="true" {% if tool_one_dominant_input == 'true' %}selected{% endif %}>True</option>
                    <option value="false" {% if tool_one_dominant_input == 'false' %}selected{% endif %}>False</option>
                </select> 
                <br>

                <label for="tool-one-parallel-input">Show parallel keys?</label>
                <select name="tool-one-parallel-input" id="tool-one-parallel-input">
                    <option value="true" {% if tool_one_parallel_input == 'true' %}selected{% endif %}>True</option>
                    <option value="false" {% if tool_one_parallel_input == 'false' %}selected{% endif %}>False</option>
                </select> 
                <br>
            </div>

            <br>
            <pre>{{ key_generator_results|safe }}</pre>
        </div>

        <div class="tool">
            <h2 id="modes-from-note-generator">Modes from note generator</h2>
    
            <div class="tool-input">
                <label for="tool-two-note-input">Note:</label>
                <select name="tool-two-note-input" id="tool-two-note-input">
                    {% for n in notes %}
                        <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_two_note_input %}selected{% endif %}>{{ n }}</option>
                    {% endfor %}                    
                </select> 
            </div>
            
            <br>
            <pre>{{ mode_generator_results|safe }}</pre>
        </div>
        
        <div class="tool">
            <h2 id="note-finder">Note Finder</h2>
    
            {% if messages %}
                {% for message in messages %}
                <div class="box message message-{{message.tags}}">
                    <pre><strong>{{ message.tags|capfirst }}</strong> - {{ message|safe }}</pre>
                </div>
                {% endfor %}
            {% endif %}

            <div class="tool-input">
                <table>
                    <tr>
                        <th>String Tuning</th>
                        <th>Fret</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-one" id="tool-three-tuning-input-one">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_one %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-one" id="tool-three-fret-input-one" type="number" min="0" max="99" value="{{ tool_three_fret_input_one }}"/></td>
                        <td id="tool-three-result-one">{{ tool_three_result_one }}</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-two" id="tool-three-tuning-input-two">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_two %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-two" id="tool-three-fret-input-two" type="number" min="0" max="99" value="{{ tool_three_fret_input_two }}"/></td>
                        <td id="tool-three-result-two">{{ tool_three_result_two }}</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-three" id="tool-three-tuning-input-three">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_three %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-three" id="tool-three-fret-input-three" type="number" min="0" max="99" value="{{ tool_three_fret_input_three }}"/></td>
                        <td id="tool-three-result-three">{{ tool_three_result_three }}</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-four" id="tool-three-tuning-input-four">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_four %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-four" id="tool-three-fret-input-four" type="number" min="0" max="99" value="{{ tool_three_fret_input_four }}"/></td>
                        <td id="tool-three-result-four">{{ tool_three_result_four }}</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-five" id="tool-three-tuning-input-five">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_five %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-five" id="tool-three-fret-input-five" type="number" min="0" max="99" value="{{ tool_three_fret_input_five }}"/></td>
                        <td id="tool-three-result-five">{{ tool_three_result_five }}</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="tool-three-tuning-input-six" id="tool-three-tuning-input-six">
                                {% for n in notes %}
                                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == tool_three_tuning_input_six %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}   
                            </select>
                        </td>
                        <td><input name="tool-three-fret-input-six" id="tool-three-fret-input-six" type="number" min="0" max="99" value="{{ tool_three_fret_input_six }}"/></td>
                        <td id="tool-three-result-six">{{ tool_three_result_six }}</td>
                    </tr>      
                </table>
            </div>
        </div>

    </form>
</div>

<script src="{% static 'JS/tools.js' %}"></script>

{% endblock %}