@import './constants.css';

/* CSS reset
   Sets a default for all elements in the CSS.
   This ignores browser defaults to ensure a consistent baseline across different browsers.
*/
* {
	/* margin: 0; */
	/* padding: 0; */
	font-family: system-ui, sans-serif;
}

.show-borders {
	outline: var(--debug-outline);
}

/* Make the body use full viewport height and flex layout */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	outline: var(--debug-outline) !important;


}
 


/* The .layout should expand to fill space between nav and footer */
.layout {
	display: flex;
	flex: 1; /* Stretch vertically */
}

.top-nav, .footer, .side-menu, .view-area {
	padding: 1rem;
	font-size: 1em;
}

.top-nav, .top-nav a, .footer {
	background-color: #222;
	color: white;
}

.top-nav {
    overflow: hidden;
}
  
.top-nav a {
    color: white;
    text-decoration: none;
    line-height: 1;
    font-size: 0.9em;
}

/* Sidebar and view-area next to each other horizontally */
.side-menu {
	width:fit-content;
	background: wheat;
}
  
.view-area {
	flex: 1;
	padding-bottom: 4em; /* Adjust to match footer height */
    border-right: 1px solid #ccc;
}
  
/* Footer styling remains unchanged */
footer {
	position: fixed;
	border: 0rem;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;

	background-color: #222;
	color: white;
	

	z-index: 1000; /* Keeps it above other content */
	box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
   









h2 {
	margin: 0.5rem 0rem;

}


.doc_card {
	border: solid 2px lightgray;
	border-radius: 1rem;
	background-color: aliceblue;
	margin: 0rem;
	padding-top: 1rem;
}