{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'CSS/constants.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/backend-styles.css' %}">

  <title>Django backend</title>
</head>

<body>

  <div>
    <H1>Django backend for music_theory_docs</H1>

    <ul>
      <li><a href="/documentation">Documentation App</li>
    </ul>
  </div>

</body>

<script src="{% static 'debug.js' %}"></script>

</html>