{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'CSS/constants.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/backend-styles.css' %}">

  <title>Django backend</title>
</head>

<body>

  <div class="box centered">
    <H1>Django backend for...</H1>
    <h1>'music_theory_docs'</h1>

    <ul>
      <li><a href="/documentation">Documentation App</a></li>
      <li><a href="/bake">Bake App</a></li>
    </ul>
  </div>

</body>

{% if debug %}
  <script src="{% static 'JS/debug.js' %}"></script>    
{% endif %}

</html>